@import "tailwindcss";

/* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
body {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;     /* Firefox */
    overflow-x: hidden;
}