@import "tailwindcss";

* {
    scroll-behavior: smooth;
}

/* Sembunyikan scrollbar untuk Chrome, Safari dan Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge dan Firefox */
body {
    overflow-x: hidden;
}